Django==2.2.4
django-storages==1.7.1
djangorestframework==3.10.2
gunicorn==19.9.0
mysqlclient==1.4.2.post1
Pillow==6.1.0
pytz==2019.2
sqlparse==0.3.0
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
